html,
body,
h1,
h2,
h3 {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

a {
	text-decoration: none;
}

ul,
li {
	list-style: none;
}

body {
  font: 13px/1.8 -apple-system, 'SF UI Text',Arial,'PingFang SC','Hiragino Sans GB','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif;
  color: #444;
}


.clearfix {
	content: "";
	display: block;
	clear: both;
}